# Sample .env file for environmental variables, especially passwords or secrets
# Note this is not a standard naming convention for environmental variable files
# Note also the location of this file is also not a standard convention
# Actual values are not in any kind of quotation marks
# These values are oriented toward a PostgreSQL database

# Add the authenticated and authorized user for the database connection
DATABASE_AUTH_USER=<user>
DATABASE_AUTH_PASSWD=<password>
DATABASE_PORT=<tcp-port>
DATABASE_SERVER=<server>
DATABASE=<database>
# Debug should be a boolean value, for example, True or False
DEBUG=True
