# Sample .env file for environmental variables, especially passwords or secrets
# Note this is not a standard naming convention for environmental variable files
# Note also the location of this file is also not a standard convention
# Actual values are not in any kind of quotation marks
# These values are oriented toward a PostgreSQL database

# Add the authenticated and authorized user for the database connection
DATABASE_AUTH_USER=database_user
DATABASE_AUTH_PASSWD=password123
DATABASE_PORT=5432
DATABASE_SERVER=database_server
DATABASE=database_name
# Debug should be a boolean value, for example, True or False
DEBUG=True
